<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>
        
        <!-- This is Hotel rooot -->
        <menuitem id="hotel_root" name="Hotel" sequence="10"/>

        <!-- This is Service Hotel -->
        <menuitem id="service_id" name="Service" parent="hotel_root" sequence="10"/>
        <!-- This is Status People Hotel -->
        <menuitem id="status_id" name="Status" parent="hotel_root" sequence="11"/>
    
    </data>
    

</odoo>
